<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../../assets/css/jquery.terminal.min.css"/>
    <title>Prim - Environnement Line</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
<header id="titlebar"></header>

<div id="main" class="">
    <button data-to="index.html" id="go-back" class="bg-transparent border border-dark
    rounded p-2 text-my-yellow"
    >Go back to main menu (or press <span class="config-back-key">b</span>)
    </button>

    <div class="d-flex h-100 text-center">
        <div class="align-self-center mx-auto">
            <h2 class="h1" id="status"></h2>
            <ul class="list-unstyled mt-4">
                <li class="h4">Score: <span id="score" class="text-success"></span></li>
            </ul>
            <div class="small">
                <i class="">We hope you had fun ! If you got an idea about a game that you wants to play
                    or an application, get in touch with us !</i>
                <p>Legendary Games Studio</p>
                <img src="../../assets/img/lgs.png" width="100">
            </div>
        </div>
    </div>
</div>
</body>
</html>