<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../../assets/css/jquery.terminal.min.css"/>
    <title>Prim - Environnement Line</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
<header id="titlebar"></header>

<div id="main">
    <div class="row mx-0">
        <div class="mw-300px">
            <p class="h4">Game</p>
            <ul class="list-unstyled">
                <li>Turn: <span id="turn" class="text-success"></span></li>
                <li>E: <span id="e" class="text-success"></span></li>
                <li>DD: <span id="dd" class="text-success"></span></li>
                <li>FISE: <span id="fise" class="text-success"></span></li>
                <li>FISA: <span id="fisa" class="text-success"></span></li>
                <li>FISA MODE: <span id="mode" class="text-success"></span></li>
                <li>Score: <span id="score" class="text-success"></span> / <span id="max-score" class="text-success"></span> </li>
                <li>Garbage: <span id="garbage" class="text-success"></span></li>
            </ul>
            <p class="h4">Legend</p>
            <div class="">
                <span><span class="text-orange"><img src="../../assets/img/Légende/Resource.png"></span> : Source</span>
                <span><span class="text-cyan"><img src="../../assets/img/Légende/Gate.png"></span> : Gate</span><br>
                <span><span class="text-purple"><img src="../../assets/img/Légende/MS_CONVEYOR_BELT_RIGHT.png"></span> : Conveyor Belt</span>
                <span><span class="text-purple"><img src="../../assets/img/Légende/MS_CROSS_BELT_TOP_RIGHT.png"></span> : Cross</span><br>
                <span><span class="text-red"><img src="../../assets/img/Légende/MS_CROSS_BELT_TOP_RIGHT.png"></span> : Recycling center</span><br>
                <span><span class="text-blue"><img src="../../assets/img/Légende/MS_JUNKYARD.png"></span> : Junkyard</span>
                <span><span class="text-blue"><img src="../../assets/img/Légende/MS_COLLECTOR_BOT.png"></span> : Collector</span><br>
            </div><br>
        </div>
        <div class="col-auto" id="game-grid">
        </div>
        <div class="col-auto" id="stats">
        </div>
        <div class="terminal-input-div mt-lg-3">
            <div class="terminal"></div>
        </div>
    </div>
</div>
</body>
</html>