<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Prim - Environnement Line</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
<header id="titlebar"></header>

<div id="main">
    <button data-to="game.html" id="go-back" class="bg-transparent border border-dark
    rounded p-2 text-my-yellow"
    >Go back to main menu (or press <span class="config-back-key">b</span>)
    </button>

    <div id="mappings-list">
    </div>
</div>
</body>
</html>