<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Prim - Environment Line</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
<header id="titlebar"></header>

<div id="main" class="settings-background">
    <div class="h-100">
        <div class="">
            <p class="h1 text-white text-center" id="tr-settings">Settings</p>
            <div class="">
                <div class="float-end rules-go-back">
                    <button data-to="index.html" id="go-back" class="bg-transparent border border-my-yellow
                    rounded p-2 text-my-yellow"
                    >Back</button>
                </div>
            </div>
        </div>
        <div class="row mx-0 mt-4 text-white">
            <div class="prim-menu-bg p-3">
                <span class="h4" id="tr-settings-global">Global Settings</span><br>
                <span class="text-my-blue" id="tr-settings-global-sub">Customize your game experience.</span>
                <br>
                <div class="row mx-0">
                    <!-- menu names -->
                    <div class="col-lg-9 col-6">
                        <ul class="list-unstyled mt-3">
                            <li class="py-2"><span id="tr-menu-title" >LANGUAGE</span></li>
                            <li class="py-2"><span id="tr-volume-title" >VOLUME</span></li>
                            <li class="py-2"><span id="tr-music-title" >MUSIC</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-6 pointer">
                        <ul class="list-unstyled mt-3">
                            <li class="row mx-0 py-2">
                                <div class="col-3 text-start" id="move-left-lang">
                                    <img src="../../assets/img/settings/arrow-left.png"
                                         alt="<" class="pr-5" />
                                </div>
                                <span class="col-6 text-center" id="lang-field">ENGLISH</span>
                                <div class="col-3 text-end"  id="move-right-lang">
                                    <img src="../../assets/img/settings/arrow-right.png"
                                         alt="<" class="pr-5" />
                                </div>
                            </li>
                            <li class="row mx-0 py-2">
                                <div class="col-3 text-start" id="move-left-volume">
                                    <img src="../../assets/img/settings/arrow-left.png"
                                         alt="<" class="pr-5" />
                                </div>
                                <span class="col-6 text-center" id="volume-field">0</span>
                                <div class="col-3 text-end" id="move-right-volume">
                                    <img src="../../assets/img/settings/arrow-right.png"
                                         alt="<" class="pr-5" />
                                </div>
                            </li>
                            <li class="row mx-0 py-2">
                                <div class="col-3 text-start" id="move-left-music">
                                    <img src="../../assets/img/settings/arrow-left.png"
                                         alt="<" class="pr-5" />
                                </div>
                                <span class="col-6 text-center" id="music-field"
                                data-id="0">Truth (Dead Seed)</span>
                                <div class="col-3 text-end" id="move-right-music">
                                    <img src="../../assets/img/settings/arrow-right.png"
                                         alt="<" class="pr-5" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
        <div class="row mx-0 mt-2 text-white">
            <div class="prim-menu-bg p-3">
                <span class="h4" id="tr-shortcuts"></span><br>
                <div class="mt-3 row mx-0">
                    <div class="d-inline col-6">
                        <div class="row mx-0">
                            <button class="bg-warning text-dark px-3 py-2 col-3 config-back-key">
                                g
                            </button>
                            <span class="col-9" id="tr-back-long">
                                Go back to a previous screen.
                            </span>
                        </div>
                    </div>
                    <div class="d-inline col-6">
                        <div class="row mx-0">
                            <button class="bg-warning text-dark px-3 py-2 col-3"
                            id="tr-shortcut-right-click">
                                Right click
                            </button>
                            <span class="col-9" id="tr-shortcut-right-click-desc">
                            On FISE/FISA or end turn, open a menu to do
                            the action more than one in one go.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>
</body>
</html>