<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prim - Environment Line</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
<header id="titlebar"></header>

<div id="main" class="game-background">
    <div id="popup-div" style="min-width: 250px"></div>

    <div class="">
        <p class="h1 text-white text-center" id="manage-staff">MANAGE STAFFS</p>
        <div class="">
            <div class="float-end rules-go-back">
                <button data-to="game.html" id="go-back" class="bg-transparent border border-my-yellow
                    rounded p-2 text-my-yellow"
                ><span id="tr-back">Back</span></button>
            </div>
        </div>
    </div>
    <div id="staff-list" class="row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row mx-0">
    </div>
</div>
</body>
</html>